
    /*GENERAL CSS*/
    .cwidth

{
    margin: 0 0px 0 0px;
    display: flex;
}

header, footer {
    background: #dedede;
}

header {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}

.logo {
    height: 130px;
    width: 130px;
    padding-left: 60px;
    padding-top: 10px;
    flex-direction: row;
}

#school-name {
    font-size: 3em;
    margin: 40px 0 0 20px;
    flex-direction: row;
}
#main-navigation {
    display: flex;
    align-items:center;
    flex-direction: row;
  }
    #main-navigation ul {
        align-items: center;
        margin: 0;
        padding: 1em 0;
        font-size: 1em;
    }
  #main-navigation li {

    display:inline-block;
    list-style-type:none;
    height: 70px;
    margin-right:1.5em;
    border:solid;
    border-width: 0 3px 0 0;
    padding: 0 20px 0 0;

  }
  #main-navigation li:first-child {
    margin-left:1.5em;
  }
    #main-navigation a {
        text-decoration: none;
        color: black;
    }
#main-navigation a:hover {
    color: blue;
} 
.hidden {
    display: none;
}


/*CSS FOR TABLE-LIKE STYLING*/

/*STUDENTS*/

#students_result {
    width: 100%;
}

.listitem {
    background: #ffffff;
    padding: 12px 5%;
    width: 90%;
    overflow: hidden;
}

    .listitem:after {
        clear: both;
    }

    .listitem:nth-child(2n) {
        background: #dedede;
    }

    .listitem:hover {
        background: #e9d898;
    }
/*
    sandbox.bittsdevelopment.com/colcalc
    columns : 4
    gutter/column ratio : 0.2
*/
.col4, .col4last {
    float: left;
    width: 21.73%;
    margin-right: 4.34%;
}

.col4last {
    margin-right: 0%;
}

/*TEACHERS*/

#teachers_result {
    width: 100%;
}
/*
Each column should be 17.48% wide with a gutter space of 3.14%
*/

.col5 {
    float: left;
    width: 17.48%;
    margin-right: 3.14%;
}

.col5last {
    float: left;
    width: 17.48%;
    margin-right: 0;
}
/*http://sandbox.bittsdevelopment.com/colcalc/*/





